{% extends 'base.html.twig' %}

{% block title %}Info de Incidente{% endblock %}

    {% block body %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Tipos de Vulnerabilidades</a>
          </li>
          <li class="breadcrumb-item active">Info de Vulnerabilidad</li>
      </ol>
      <div class="row">
        <div class="col-md-6">
          <h1>ID: {{entidad.id}} - {{entidad.nombre}}</h1>
          <p><b>Ticket:</b> {{entidad.ticket}}</p>
          <p><b>Fecha Creacion:</b> {{entidad.fecha}}</p>
          <p><b>Criticidad:</b> {{entidad.criticidad}}</p>
          <p><b>Descripcion:</b> {{entidad.descripcion}}</p>
          <p><b>Estado:</b> {{entidad.estado}}</p>
          <p><b>Fecha Cierre:</b> {{entidad.cierre}}</p>
      </div>
    </div>
</div>
<a class="btn btn-default" href="javascript:history.back()" role="button">Cancelar</a>
{% endblock %}