<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}Main{% endblock %}</title>
  
  <!-- Bootstrap core CSS-->
  {# <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> #}
  <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
  <!-- DatePicker -->
  <link href="{{ asset('css/bootstrap-datepicker.css') }}" rel="stylesheet">

  <link href="{{ asset('css/chosen.min.css') }}" rel="stylesheet">
</head>

<body>
  <div id="sidebar">
    {{ include('sidebar.html.twig') }}
  </div>
  
  <div class="content-wrapper">

    <div class="container-fluid" style="margin-top: 1.5cm;">

      {% block popup_confirmar %}
        <div class="modal fade" role="dialog" tabindex="-1" id="popup_confirmar">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                {% block popup_confirmar_botones %}
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <a class="btn btn-primary btn-ok">Aceptar</a>                        
                {% endblock %}
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->            
      {% endblock %}





      {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 style="text-align: center;">{{ flashMessage }}</h4>
        </div>
      {% endfor %}

      {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 style="text-align: center;">{{ flashMessage }}</h4>
        </div>
      {% endfor %}





      {% block body %}
      {% endblock %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{#     <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>
    </footer> #}
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>  
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ asset('js/sb-admin.min.js') }}"></script>
    <!-- Custom scripts for this page-->
    <script src="{{ asset('js/sb-admin-datatables.min.js') }}"></script>
    <script src="{{ asset('js/sb-admin-charts.min.js') }}"></script> 


    <!-- DatePikcer-->
    <script src="{{ asset('vendor/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('vendor/datepicker/bootstrap-datepicker.es.min.js') }}"></script>

    {# Chosen Select #}
    <script src="{{ asset('js/chosen.jquery.min.js') }}"></script>

    {% block javascripts %}
      <script>
      $(document).ready(function () {
        $('.datepicker').datepicker({
          todayBtn: "linked",
          language: "es",
          autoclose: true,
          todayHighlight: true,
          format: 'dd-mm-yyyy',
          orientation: "bottom right"
        });

      });

      $('#popup_confirmar').on('show.bs.modal', function (e) {
        $(this).find('.modal-body').html($(e.relatedTarget).data('texto'));
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
      });

      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      $('#myTable').DataTable();

      $(function () {
          $('[data-toggle="tooltip"]').tooltip();
      });

       $(document).find("select").chosen({no_results_text: "Oops, nothing found!"}); 

      </script>
    {% endblock %}

  </div>
</body>

</html>