{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

  {% block body %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Inicio</li>
    </ol>

    {% if KPI.totalVulnerabilidades > 0 %}

    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        KPI 31 -  <b>{{ KPI.dias / KPI.totalVulnerabilidades   }}</b>
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Tiempo medio de remediación de vulnerabilidades altas críticas y aceptadas, consumido en los 3 últimos meses.
        <br>
        Σ (días dedicadas a remediación) / Σ (Nº Vulnerabilidades que cumplen la condición)
        <br>
        Total de dias: <b>{{ KPI.dias }}</b>
        <br>
        Total de Vulnerabilidades Altas y Criticas: <b>{{ KPI.totalVulnerabilidades }}</b>
        <br>
        RESULTADO: <b>{{ KPI.dias / KPI.totalVulnerabilidades }}</b>
      </div>
    </div>

  {% endif %}

    <div class="row">
      <div class="col-lg-4">
        <!-- Vulnerabilidades del Mes-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-pie-chart"></i> Vulnerabilidades del mes (Activas)</div>
            <div class="card-body">
              <canvas id="vulnMonth" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i> Vulnerabilidades Totales (Activas)</div>
              <div class="card-body">
                <canvas id="vuln" width="100%" height="100"></canvas>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fa fa-pie-chart"></i> Estado de Vulnerabilidades</div>
                <div class="card-body">
                  <canvas id="estado" width="100%" height="100"></canvas>
                </div>
                <div class="card-footer small text-muted"></div>
              </div>
            </div>
          </div>
          <!-- Area Chart Example-->
{#           <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-area-chart"></i> Historico de Vulnerabilidades</div>
              <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
          </div> #}

        {% endblock %}

        {% block javascripts %}
          {{ parent() }}

          <script>
          //Variables esteticas
          Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
          Chart.defaults.global.defaultFontColor = '#292b2c';


          //Vulnerabilidades del mes
          var ctx = document.getElementById("vulnMonth");
          var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
              labels: ["Críticas", "Altas", "Medias"],
              datasets: [{
                data: [ {{ criticasMes }} , {{ altasMes }} , {{ mediasMes }} ],
                backgroundColor: ['#d9534f', '#FFA500', '#f6e36b'],
              }],
            },
          });

          //Total de vulnerabilidades
          var ctx = document.getElementById("vuln");
          var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
              labels: ["Críticas", "Altas", "Medias"],
              datasets: [{
                data: [ {{ criticas }} , {{ altas }} ,  {{ medias }} ],
                backgroundColor: ['#d9534f', '#FFA500', '#f6e36b'],
              }],
            },
          });

          //Estado de vulnerabilidades
          var ctx = document.getElementById("estado");
          var myPieChart = new Chart(ctx, {
              type: 'pie',
              data: {
              labels: ["Activas", "Remediadas", "Aceptadas"],
              datasets: [{
                data: [ {{ activas }} , {{ inactivas }} , {{ aceptadas }} ],
                backgroundColor: ['#d9534f', '#5cb85c', '#428bca'],
              }],
            },
          });


// Historico de vulnerabilidades
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5", "Mar 6", "Mar 7", "Mar 8", "Mar 9", "Mar 10", "Mar 11", "Mar 12", "Mar 13"],
    datasets: [{
      label: "Vulnerabilidades",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 20,
      pointBorderWidth: 2,
      data: [10000, 30162, 26263, 18394, 18287, 28682, 31274, 33259, 25849, 24159, 32651, 31984, 38451],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 40000,
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});



</script>

{% endblock %}